@model IEnumerable<KDKmusicWebsite.Models.Admin>

@if (Session["User"] != null)
{
    <p> <a href="@Url.Action("Logoff", "AdminLogin", null, Request.Url.Scheme)">Đăng xuất</a></p>
    <a href="#" class="user">@Session["Admin_User_name"]</a>
}
else
{
    <a href="@Url.Action("Login", "AdminLogin", null, Request.Url.Scheme)" class="login">Đăng nhập</a>
}


