@font-face {
    font-family: 'delicioushandrawn-regular';
    src: url('delicioushandrawn-regular.ttf') format('truetype');
}

.header-logo {
    font-family: "delicioushandrawn-regular";
    color: white;
    font-size: 50px;
    line-height: 80px;
    display: inline-block;
    padding: 15px 5px 10px 35px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: italic;
    transition: -2s ease;
    text-shadow: 3px 5px 30px black;
}