@{
    ViewBag.Title = "Trang chủ";
}

<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>Âm nhạc</span> cho mọi người.</h2>
                            <p>Trang web của chúng tôi sẽ mang lại cho các bạn cảm giác thư giãn sau những giờ làm việc căng thẳng. Hãy click vào để thưởng thức</p>
                            <a href="@Url.Action("ShowDisplay", "Music", null, Request.Url.Scheme)" class="site-btn">Xem nhạc</a>
                            @*<a href="#" class="site-btn sb-c2">Start free trial</a>*@
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="~/Assets/User/img/hero-bg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>Âm nhạc</span> cho mọi người.</h2>
                            <p>Trang web của chúng tôi sẽ mang lại cho các bạn cảm giác thư giãn sau những giờ làm việc căng thẳng. Hãy click vào để thưởng thức</p>
                            <a href="@Url.Action("ShowDisplay", "Music", null, Request.Url.Scheme)" class="site-btn">Xem nhạc</a>
                            @*<a href="#" class="site-btn sb-c2">Start free trial</a>*@
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="~/Assets/User/img/hero-bg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->